{{#bp-column-layout classNames="reset-password-page"}}
    {{#bp-text classNames="heading-large"}}{{t "login.resetPassword"}}{{/bp-text}}

    {{#bp-text classNames="heading-xsmall new-password-text"}}{{t "login.newPassword"}}{{/bp-text}}
    {{bp-input type="password" value=newPassword placeholder='' classNames="input_initial"}}
    {{#bp-text classNames="tips body-tertiary"}}
        {{!-- newPasswordComputed为2时表示还没有输入新密码，此时显示初始状态 --}}
        {{#if (bp-eq newPasswordComputed 2)}}
            Make sure it's at least 8 characters including a number, a capital letter and a lowercase letter
        {{else}}
            Make sure it's <span class={{if (bp-eq atLeast8 1) "body-positive" "tertiary-Destructive"}}>at least 8 characters </span>including <span class={{if (bp-eq haveNumber 1) "body-positive" "tertiary-Destructive"}}>a number, </span> <span class={{if (bp-eq haveCapital 1) "body-positive" "tertiary-Destructive"}}>a capital letter </span>and <span class={{if (bp-eq haveMinuscules 1) "body-positive" "tertiary-Destructive"}}>a lowercase letter</span>
        {{/if}}
    {{/bp-text}}
    {{#bp-text classNames="heading-xsmall confirm-password-text"}}{{t "login.confirmPassword"}}{{/bp-text}}
    {{bp-input type="password" value=confirmPassword placeholder='' classNames="input_initial"}}

    {{#bp-button text=(t "login.confirm") id="resetPasswordButton" classNames="btn_primary mt-integer-2" click=(action "resetButton") disabled=changePasswordDisabled}}{{/bp-button}}
{{/bp-column-layout}}	